@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my CI/CD training</h1>
    <p>Learn about me <a href="https://docs.microsoft.com/aspnet/core"> via GitHub</a>.</p>
    <p>Hoping this helps me find a programming role! :)</p>
    <h1> By Raheel A</h1>
</div>
